
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      <h3>Contact</h3>
    </div>
    <div class="row agile-info-para">
      <h3 class="m-5">
        Hãy liên hệ với chúng tôi nếu cần hỗ trợ và kết nối cộng đồng với những ý tưởng chăm sóc mẹ và bé nói riêng và cộng đồng gia đình
        người việt nam nói chung
      </h3>
      <img url="">
    </div>
    <div class="row contact-right mt-lg-5 mt-md-4 mt-3">
      <div class="col-lg-4 col-md-4 footer_grid_left text-center">
        <div class="contact_footer_grid_left text-center mb-3">
          <h4> Address</h4>
        </div>
        <p>195 Gò Xoài, Quận Bình Tân <br>Thành Phố Hồ Chính Minh 20/2019.</p>
      </div>
      <div class="col-lg-4 col-md-4 footer_grid_left text-center">
        <div class="contact_footer_grid_left text-center mb-3">
          <h4>Phone</h4>
        </div>
        <p>0789600766(Ngọc Lâm) <br>0369615118(Thu Thương)</p>
      </div>
      <div class="col-lg-4 col-md-4 footer_grid_left text-center">
        <div class="contact_footer_grid_left text-center mb-3">
          <h4>Email</h4>
        </div>
        <p><a href="mailto:sogoten6689@gmail.com">sogoten6689@gmail.com</a>
          <br><a href="mailto:nguyenthithuthuong.fitiuh@gmail.com">nguyenthithuthuong.fitiuh@gmail.com</a>
        </p>
      </div>
    </div>
    <!--//contact-map -->
  </div>
</section>
<!--//contact  -->
<!--Footer -->
<!--<section class="buttom-footer py-lg-5 py-md-4 py-sm-3 py-3">-->
  <!--<div class="headder-logo-icon text-center">-->
    <!--<span class="fab fa-accusoft"></span>-->
    <!--<h2 class="mb-3"><a href="index">Inside-Art</a></h2>-->
  <!--</div>-->
  <!--<div class="buttom-nav py-3">-->
    <!--<nav class="border-line">-->
      <!--<ul class="nav justify-content-center">-->
        <!--<li class="nav-item active">-->
          <!--<a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a href="about" class="nav-link ">About</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a href="service" class="nav-link">Services</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a href="contact" class="nav-link">Contact</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</nav>-->
  <!--</div>-->
<!--</section>-->
<!--<footer>-->
  <!--<div class="footer-bottom py-lg-4 py-3 text-center">-->
    <!--<p>©2018 Inside-Art. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>-->
  <!--</div>-->
<!--</footer>-->
<!-- //Footer -->
<!--js working-->
<!--//js working-->
<!-- start-smoth-scrolling -->
<script>
  jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 900);
    });
  });
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script>
  $(document).ready(function () {

    var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
    };


    $().UItoTop({
      easingType: 'easeOutQuart'
    });

  });
</script>
