div.content{
  margin-top: 20px!important;
}
.imt-user-topic{
  width: 40px;
}
a.user {
  color:#007bff;
}
a.user:hover {
  color:#F90CE5;
}
p.ykien{
  font-weight: 600;
}
.label-comment{
  margin-left: 30px;
}
.text-comment{
  border-radius: 10px ;
  border-bottom-color: #0c5460;
  background-color: #9fcdff;
}

