.admin-open {
  width: 200px!important;
  position: fixed;
  height: 80%;
  max-height: 70%;
  z-index: 5000;
  background-color: pink;
  top:117px;
  font-size: 0.8em;
}
.admin-close {
  width: 60px!important;
  position: fixed;
  height: 80%;
  max-height: 70%;
  z-index: 5000;
  background-color: pink;
  top:117px;
  font-size: 0.8em;
}
.buttom-admin{
  position: fixed;
  z-index: 5000;
}
.content-admin-open{
  padding-left: 200px;
}
.content-admin-close{
   padding-left: 60px;
 }
.item-admin{
  border-bottom: 1px solid grey;
  padding: 3px;
}
