
<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides" id="slider4">
      <li>
        <div class="slider-img one-img">
          <div class="container">
            <div class="slider-info ">
              <h5>We care, we share!</h5>
              <div class="bottom-info">
                <p>Be a part of our big family and share your wonderful experiences about taking care of children and pregnant women by sign up now</p>
              </div>
              <div class="outs_more-buttn">
                <a href="/signup">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-img two-img">
          <div class="container">
            <div class="slider-info ">
              <h5>New Product
                Arrived
              </h5>
              <div class="bottom-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                <p>
              </div>
              <div class="outs_more-buttn">
                <a href="singlepage">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-img three-img">
          <div class="container">
            <div class="slider-info">
              <h5>Modern And Unique </h5>
              <div class="bottom-info">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                </p>
              </div>
              <div class="outs_more-buttn">
                <a href="singlepage">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- This is here just to demonstrate the callbacks -->
  <!-- <ul class="events">
     <li>Example 4 callback events</li>
     </ul>-->
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

