<!-- //banner -->
<!--<app-banner></app-banner>-->
<!--about-one-->
<section class="about-inner py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      <h3>About Us</h3>
    </div>
    <p class="m-5">
      Cảm ơn bạn đã ghé thăm trang web của chúng tôi, web được lên kế hoạch, xây dựng dựa trên yêu cầu của đồ án tốt
      nghiệp, ngành Kĩ thuật phần mềm
      - Khoa Công nghệ thông tin - Trường đại học Công nghiệp TP.HCM. Dưới sự hướng dẫn của giảng viên Đặng Thị Thu Hà -
      Giảng viên khoa Công nghệ thông tin, Trường đại học Công nghiệp TP.HCM.
      Nhóm gồm 2 thành viên: Nguyễn Ngọc Lâm - Mã số sinh viên 15072341 và Nguyễn Thị Thu Thương. Dưới đây là thông tin
      của 2 thành viên.

    </p>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <img src="https://graph.facebook.com/2237850582999185/picture?type=large" style="width: 300px;">
      </div>
      <div class="col-lg-3">
        <p>Nguyễn Ngọc Lâm</p>
        <p>Mã số sinh viên: 15072341</p>
        <p>Ngày sinh: 06/04/1997</p>
        <p>Đại học kĩ thuật phần mềm 11A</p>
        <p>Giới tính: Nam</p>
        <p>Quê quán: Long An</p>
        <p>Số điện thoại: 0789600766</p>
        <p>Email: sogoten6689@gmail.com</p>
        <a class="btn btn-warning" href="https://www.facebook.com/ngoclam.nguyen.6689">Liên hệ Facebook</a>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <img src="https://s3-us-west-2.amazonaws.com/babyandmom/45517268_1063269330520613_3915326555361902592_o.jpg" style="width: 300px;">
      </div>
      <div class="col-lg-3">
        <p>Nguyễn Thị Thu Thương</p>
        <p>Mã số sinh viên: 15102471</p>
        <p>Ngày sinh: 23/04/1997</p>
        <p>Đại học kĩ thuật phần mềm 11CTT</p>
        <p>Giới tính: Nữ</p>
        <p>Quê quán: Vũng Tàu</p>
        <p>Số điện thoại: 0369615118</p>
        <p>Email: nguyenthithuthuong.fitiuh@gmail.com
        </p>
        <a class="btn btn-warning" href="https://www.facebook.com/ckuot.nhox.7">Liên hệ Facebook của Thương</a>
      </div>
      <div class="col-lg-3">
      </div>

    </div>
  </div>
</section>
<!--//about-->
<!--States-->
<!--//States-->
<!--Footer -->
<footer>
</footer>
<!-- //Footer -->
<script>
  $('.counter').countUp();
</script>
<script>
  jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 900);
    });
  });
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script>
  $(document).ready(function () {

    var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
    };


    $().UItoTop({
      easingType: 'easeOutQuart'
    });

  });
</script>
